{% extends '@EPIInscription/layout.html.twig' %}

   {% block title %}{{ parent() }} -Ajouter {% endblock %}
    {% block titre %} {{ parent() |upper }} - Ajouter des job {% endblock %}

{% block inscriptionBundle_body %}

    {{ include('@EPIInscription/Inscription/form.html.twig') }}

    <p>Attention: ce job  sera ajouter directement sur la page d'acceuil aprés la validation</p>

{% endblock %}